// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	// display: grid;
	// gap: 15px;

	// &__icon {
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	position: relative;
	// 	border-radius: 50%;
	// 	flex-shrink: 0;

	// 	@include adaptiveValue("width", 36, 30);
	// 	@include adaptiveValue("height", 36, 30);

	// 	&::before {
	// 		content: '';
	// 		position: absolute;
	// 		transition: all 0.3s;
	// 		width: 100%;
	// 		height: 100%;
	// 		border-radius: 50%;
	// 		border: 1px solid $mainColor;
	// 	}

	// 	@media (any-hover: hover) {
	// 		&:hover {
	// 			&::before {
	// 				content: '';
	// 				background: $mainColor;
	// 				border: 1px solid $mainColor;
	// 			}

	// 			svg {
	// 				path {
	// 					stroke: $mainColor;
	// 				}
	// 			}
	// 		}
	// 	}


	// 	svg {
	// 		position: relative;
	// 		z-index: 100;
	// 		transition: all 0.3s;
	// 	}

	// 	._spoller-active & {
	// 		&::before {
	// 			content: '';
	// 			background: $mainColor;
	// 			border-color: $mainColor;
	// 		}

	// 		svg {

	// 			transform: rotate(45deg);

	// 			path {
	// 				stroke: $mainColor;
	// 			}
	// 		}

	// 	}
	// }
}

// Спойлер
.spollers__item {
	// overflow: hidden;
	// border-radius: toRem(10)

	&:last-child {
		border-bottom: 1px solid rgba(46, 44, 40, 0.4);
	}
}

// Заголовок спойлера
.spollers__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	cursor: default;
	text-align: left;
	position: relative;
	list-style: none;
	border-top: 1px solid rgba(46, 44, 40, 0.4);
	transition: all 0.3s;

	font-weight: 700;
	line-height: 118%;
	letter-spacing: -0.03em;
	color: $titleColor;
	transition: all 0.3s;

	@include adaptiveValue("font-size", 22, 16);
	@include adaptiveValue("height", 80, 55);

	.faq & {
		font-weight: 400;
		@include adaptiveValue("font-size", 20, 14);
	}

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			color: rgba(31, 30, 27, 0.6);

			._spoller-init & {

				&::before,
				&::after {
					background-color: rgba(31, 30, 27, 0.6);
				}
			}
		}
	}

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: toRem(16);
			top: 50%;
			background-color: $titleColor;
			height: 4px;
			width: 14px;
			transition: transform 0.5s ease 0s;
			transition: all 0.3s;

			@media (max-width:$mobile) {
				right: toRem(10);
			}
		}

		&::before {
			transform: translate(-52%, -75%) rotate(45deg);
		}

		&::after {
			transform: translate(0, -75%) rotate(-45deg);
		}

		&._spoller-active {
			// border-radius: 10px 10px 0 0;


			// color: $mainColor;

			&::before,
			&::after {
				background-color: $mainColor;

			}

			&::before {
				transform: translateX(-52%) rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}

		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}

}

// Контент спойлера
.spollers__body {
	// background: $mainColor;
	// padding: 10px 0;
	padding-bottom: toRem(20);
	padding-right: toRem(20);

	font-family: var(--second-family);

	@include adaptiveValue("font-size", 18, 12);
}