//<BUTTONS (a.btn+tab)>
// Сниппет (HTML): btn

.button {
	display: flex;
	align-items: center;
	padding: 10px 18px;
	gap: toRem(10);
	border-radius: 100px;

	font-family: var(--font-family-nr);
	font-weight: 400;
	line-height: 131%;
	letter-spacing: -0.01em;
	color: #fff;
	justify-self: center;
	justify-content: center;
	background: var(--third-color);

	@include adaptiveValue("font-size", 18, 12);

	@include adaptiveValue("height", 65, 50);



	&:active {}

	// @media (any-hover: hover) {
	// 	&:hover {
	// 		color: #fff;
	// 		background-color: #64d210;
	// 	}
	// }
}




