@font-face {
	font-family: MartianGroteskNr;
	font-display: swap;
	src: url("../fonts/MartianGrotesk-NrBd.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianGroteskStd;
	font-display: swap;
	src: url("../fonts/MartianGrotesk-StdMd.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MartianGroteskStd;
	font-display: swap;
	src: url("../fonts/MartianGrotesk-StdRg.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianGroteskStd;
	font-display: swap;
	src: url("../fonts/MartianGrotesk-StdBd.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MartianGroteskNr;
	font-display: swap;
	src: url("../fonts/MartianGrotesk-NrRg.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MartianGroteskNr;
	font-display: swap;
	src: url("../fonts/MartianGrotesk-NrMd.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Marker Felt;
	font-display: swap;
	src: url("../fonts/Marker Felt.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
