.about-page-about {
  padding-top: toRem(90);

  background: url('@img/about-page/back.png') center 0;

  @include adaptiveValue("padding-bottom", 220, 0);

  // .about-page-about__container

  &__container {
    display: grid;
    grid-template-columns: 1fr 32%;
    // align-items: center;
    //  align-items: stretch;
    gap: 24px;

    @media (max-width:$mobile) {
      grid-template-columns: auto;
      justify-items: center;
    }
  }

  // .about-page-about__content

  &__content {
    display: grid;
    align-items: center;
    // padding-top: toRem(20);
    // padding-bottom: toRem(20);


    @include adaptiveValue("padding-top", 70, 0);
    @include adaptiveValue("padding-bottom", 70, 20);
    @include adaptiveValue("padding-left", 50, 0);
    @include adaptiveValue("padding-right", 50, 0);

    @media (min-width:$mobile) {
      border-radius: toRem(20);
      background-color: $otherColor;
    }
  }

  // .about-page-about__title

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);

    @media (max-width:$mobile) {
      text-align: center;
    }
  }

  // .about-page-about__text

  &__text {
    display: grid;
    @include adaptiveValue("gap", 40, 20);

    p {
      font-family: var(--second-family);
      line-height: 131%;
      color: $titleColor;

      @include adaptiveValue("font-size", 20, 14);

      a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #981214;
      }
    }

    @media (max-width:$mobile) {
      text-align: center;
    }
  }

  // .about-page-about__photo

  &__photo {
    max-width: 100%;
    border-radius: toRem(20);

    @media (min-width:toEm(1220)) {
      height: 100%;
    }
  }
}

.about-page-stat {

  @include adaptiveValue("margin-top", -100, 80);

  // .about-page-stat__container

  &__container {}

  // .about-page-stat__title

  &__title {
    @include adaptiveValue("margin-bottom", 50, 45);
  }

  // .about-page-stat__items

  &__items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    // grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    // width: 100%;

    // overflow-x: auto;
    // scrollbar-width: none;

    @include adaptiveValue("gap", 25, 15);

    @media (max-width: toEm(1360)) {
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    }

    @media (max-width:$tablet) {
      grid-template-columns: repeat(8, auto);

      overflow-x: auto;
      scrollbar-width: none;
    }
  }

  // .about-page-stat__item

  &__item {}
}

.about-stat-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding: toRem(30) toRem(25);


  background-color: #fff;

  @include adaptiveValue("padding-top", 30, 16);
  @include adaptiveValue("padding-bottom", 30, 16);
  @include adaptiveValue("padding-left", 25, 16);
  @include adaptiveValue("padding-right", 25, 16);
  @include adaptiveValue("height", 287, 180);
  @include adaptiveValue("border-radius", 20, 10);
  @include adaptiveValue("width", 317, 212);

  // .about-stat-item__title

  &__title {
    display: flex;
    align-items: center;
    gap: toRem(8);
    line-height: 118%;
    letter-spacing: -0.03em;
    color: #3e5128;

    white-space: nowrap;

    @include adaptiveValue("font-size", 40, 22);

    span {
      svg {
        @media (max-width:$mobile) {
          max-width: toRem(27);
        }
      }
    }

  }

  // .about-stat-item__text

  &__text {
    line-height: 136%;
    color: $titleColor;

    @include adaptiveValue("font-size", 18, 14);
  }

  // .about-stat-item__img

  &__img {
    padding: 0;
    // aspect-ratio: 318 / 287;

    img {
      max-width: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;

    }

  }
}


.about-page-history {
  @include adaptiveValue("padding-top", 140, 80);

  // .about-page-history__container

  &__container {}

  // .about-page-history__title

  &__title {
    @include adaptiveValue("margin-bottom", 72, 30);
  }

  // .about-page-history__content

  &__content {
    display: grid;
    grid-template-columns: 1fr 32%;
    // align-items: center;
    //  align-items: stretch;
    gap: 24px;

    @media (max-width:$mobile) {
      grid-template-columns: auto;
      justify-items: center;
    }
  }

  // .about-page-history__text-block

  &__text-block {}

  // .about-page-history__img

  &__img {
    max-width: 100%;

    border-radius: toRem(20);
  }
}

.about-history-text-block {
  display: grid;
  gap: toRem(20);


  // .about-history-text-block__text

  &__text {
    font-family: var(--second-family);
    line-height: 136%;

    @include adaptiveValue("font-size", 20, 14);
  }

  // .about-history-text-block__title

  &__title {
    font-weight: 700;
    line-height: 118%;
    letter-spacing: -0.03em;
    color: $titleColor;

    @include adaptiveValue("font-size", 35, 22);
  }
}

.about-page-partners {
  @include adaptiveValue("padding-top", 140, 80);
  // .about-page-partners__container

  &__container {}

  // .about-page-partners__content

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: toRem(15);

    padding: toRem(35) toRem(35) toRem(35) toRem(55);

    background: #3e5128;
    border-radius: toRem(20);

    @media (max-width:$tablet) {
      grid-template-columns: auto;
      justify-items: center;
      gap: toRem(34);
    }

    @media (max-width:$mobile) {
      margin-left: -15px;
      margin-right: -15px;

      

      padding: toRem(45) toRem(16) toRem(16) toRem(16);
    }
  }

  // .about-page-partners__text-block

  &__text-block {}

  // .about-page-partners__title

  &__title {
    color: #fff;

    @include adaptiveValue("margin-bottom", 40, 30);

    @media (max-width:$tablet) {
      text-align: center;
    }
  }

  // .about-page-partners__text

  &__text {
    font-family: var(--second-family);
    line-height: 136%;
    color: rgba(255, 255, 255, 0.8);

    @include adaptiveValue("font-size", 20, 14);
    @include adaptiveValue("margin-bottom", 50, 40);

    @media (max-width:$tablet) {
      text-align: center;
    }
  }

  // .about-page-partners__link

  &__link {
    display: flex;
    align-items: center;
    // justify-content: center;
    // text-align: left;
    gap: toRem(10);

    background-color: #fff;

    border-radius: 54px;
    padding: 11px 16px;
    // max-width: 328px;
    height: 78px;

    @include adaptiveValue("width", 328, 206);

    @media (max-width:$tablet) {
      margin: 0 auto;
    }

    @media (max-width:$mobile) {
      // padding: 11px 10px;
      // width: 206px;
      height: 50px;
    }

    svg {
      @include adaptiveValue("width", 56, 34);
    }

    span {
      font-family: $fontFamilyNr;
      font-weight: 400;
      letter-spacing: -0.03em;
      color: $titleColor;

      @include adaptiveValue("font-size", 25, 16);
    }
  }

  // .about-page-partners__img

  &__img {
    max-width: 100%;

    border-radius: toRem(20);
  }
}