.activities {

  position: relative;
  background: url('@img/activities/background.png') center 0;
  // background-size: cover;

  border: 1px solid red;

  // .activities__container

  &__container {}

  // .activities__title

  &__title {
    @include adaptiveValue("margin-bottom", 44, 25);
  }

  // .activities__container--full

  &__container--full {}

  // .activities__items-scroll

  &__items-scroll {}

  // .activities__slider

  &__slider {}

  // .activities__wrapper

  &__wrapper {}

  // .activities__slide

  &__slide {}

  // .activities__item

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:nth-child(odd) {
      .activities__photo {
        transform: rotate(-4.39deg);
      }
    }
  }

  // .activities__frame

  &__frame {
    position: relative;
    height: auto;
    z-index: 10;
    max-width: 100%;
  }

  // .activities__photo

  &__photo {
    position: absolute;
    max-width: 100%;
    // width: 100%;
    top: 18%;
    left: 75px;
    // object-fit: cover;
    z-index: 5;
  }

  // .activities__value

  &__value {
    position: absolute;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 107%;
    color: var(--title-color);
    z-index: 100;
    left: 16px;
    top: 85%;
  }

  // .activities__content

  &__content {}

  // .activities__left-side

  &__left-side {}

  // .activities__subtitle

  &__subtitle {}

  // .activities__text

  &__text {}

  // .activities__right-side

  &__right-side {}
}

.flatpoint {

  // .flatpoint__button

  &__button {}
}

.button {}

.intro {

  // .intro__icon

  &__icon {}
}

.title-h2 {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}