.activities {

  position: relative;
  background: url('@img/activities/background.png') center 0;
  // background-size: cover;

  border: 1px solid red;

  // .activities__container

  &__container {}

  // .activities__title

  &__title {
    @include adaptiveValue("margin-bottom", 44, 25);
  }

  // .activities__container--full

  &__container--full {}

  // .activities__items-scroll

  &__items-scroll {

    margin-right: -15px;
    margin-left: -15px;
  }

  // .activities__slider

  &__slider {
    overflow: visible !important;
  }

  // .activities__wrapper

  &__wrapper {}

  // .activities__slide

  &__slide {
    height: 100%;
    position: relative;

    &:nth-child(odd) {
      .activities__value {
        transform: rotate(-4.39deg);
      }
    }

    &:nth-child(even) {
      .activities__value {
        transform: rotate(3.75deg);
      }
    }
  }

  // .activities__item

  &__item {
    position: relative;
    height: 100%;
    border: 1px solid red;
    display: flex;
    // justify-content: flex-start;
    justify-content: center;
    align-items: flex-end;
    // overflow: hidden;


  }

  // .activities__frame

  &__frame {
    position: relative;
    // height: auto;
    z-index: 5;
    max-width: 100%;
  }

  // .activities__photo

  // &__photo {
  //   position: absolute;
  //   max-width: 100%;
  //   // width: 100%;
  //   top: 18%;
  //   left: 75px;
  //   // object-fit: cover;
  //   z-index: 5;
  // }

  // .activities__value

  &__value {
    align-self: anchor-center;
    position: absolute;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 107%;
    color: var(--title-color);
    z-index: 100;
    right: 39%;
    // left: 2%;
    top: 81%;
    z-index: 10;

    @include adaptiveValue("font-size", 20, 11);

    @media (max-width: toEm(610)) {
      top: 84%;
    }
  }

  // .activities__content

  &__content {}

  // .activities__left-side

  &__left-side {}

  // .activities__subtitle

  &__subtitle {}

  // .activities__text

  &__text {}

  // .activities__right-side

  &__right-side {}
}

.flatpoint {

  // .flatpoint__button

  &__button {}
}

.button {}

.intro {

  // .intro__icon

  &__icon {}
}

.title-h2 {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}