.activities {

  position: relative;
  background: url('@img/activities/background.png') center 0;
  // background-size: cover;

  border: 1px solid red;

  @include adaptiveValue("padding-top", 90, 80);

  // .activities__container

  &__container {}

  &__button {
    max-width: toRem(283);
    @include adaptiveValue("margin-bottom", 150, 50);

    @media (max-width:$mobile) {
      display: none;
    }
  }

  // .activities__title

  &__title {
    // @include adaptiveValue("margin-bottom", 44, 25);
  }

  // .activities__container--full

  &__container--full {}

  // .activities__items-scroll

  &__items-scroll {

    margin-right: -15px;
    margin-left: -15px;

    margin-bottom: toRem(96);
  }

  // .activities__slider

  &__slider {
    overflow: visible !important;
  }

  // .activities__wrapper

  &__wrapper {}

  // .activities__slide

  &__slide {
    height: 100%;
    position: relative;


    &:nth-child(1) {
      .activities__value {
        padding-bottom: 10%;
        left: 23%;
        // padding-left: 5%;
      }
    }

    &:nth-child(2) {
      .activities__value {
        left: 13%;
        padding-bottom: 7%;
      }
    }

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(8) {
      .activities__value {
        left: 15%;
        padding-bottom: 12%;
      }
    }

    &:nth-child(4) {
      .activities__value {
        left: 14%;
        padding-bottom: 13%;
      }
    }

    &:nth-child(5) {
      .activities__value {
        left: 22%;
      }
    }

    // &:nth-child(6) {
    //   .activities__value {
    //     left: 15%;
    //     padding-bottom: 12%;
    //   }
    // }

    &:nth-child(7) {
      .activities__value {
        left: 15%;
        padding-bottom: 5%;
      }
    }

    // &:nth-child(8) {
    //   .activities__value {
    //     left: 15%;
    //     padding-bottom: 12%;
    //   }
    // }

    &:nth-child(odd) {
      .activities__value {
        transform: rotate(-4.39deg);
      }
    }

    &:nth-child(even) {
      .activities__value {
        transform: rotate(3.75deg);
      }
    }
  }

  // .activities__item

  &__item {
    position: relative;
    height: 100%;
    border: 1px solid red;
    display: flex;
    // justify-content: flex-start;
    // justify-content: center;
    align-items: flex-end;
    // overflow: hidden;


  }

  // .activities__frame

  &__frame {
    position: relative;
    // height: auto;
    z-index: 5;
    max-width: 100%;
  }

  // .activities__value

  &__value {
    position: absolute;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 107%;
    color: var(--title-color);

    z-index: 10;
    // bottom: 0;
    // left: 40px;
    padding-bottom: 6%;
    // left: 20%;
    @include adaptiveValue("font-size", 20, 11);

    // @media (max-width: toEm(610)) {
    //   top: 84%;
    // }
  }

  // .activities__content

  &__content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;

    border: 1px solid red;
  }

  // .activities__left-side

  &__left-side {
    padding-top: toRem(123);
    max-width: 651px;
  }

  // .activities__subtitle

  &__subtitle {
    font-weight: 700;
    line-height: 118%;
    letter-spacing: -0.03em;
    color: $titleColor;

    @include adaptiveValue("font-size", 40, 20);
  }

  // .activities__text

  &__text {}

  // .activities__right-side

  &__right-side {
    position: relative;
    padding-bottom: 99%;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      left: -92px;
    }

  }
}