.title-h2 {

  font-family: var(--font-family);
  font-weight: 700;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: $titleColor;

  @include adaptiveValue("font-size", 60, 25);

  @media (max-width:$mobile) {
    // font-weight: 500;
  }

  ._white {
    color: #fff;
  }
}

.pt180 {
  @include adaptiveValue("padding-top", 150, 80);
}

.intro__button--mob {
  // display: none !important;
}


._mob {
  display: none;

  @media (max-width:$tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 29px;
    height: 40px;

    text-align: center;
  }
}


.mob-name {
  display: none;

  @media (max-width:$tablet) {
    display: block;

    font-weight: 400;
    font-size: 12px;
    color: rgba(31, 30, 27, 0.4);

    margin-bottom: toRem(4);
  }
}