.intro {
  position: relative;
  height: 903px;


  &::before {
    content: '';
    position: absolute;
    // background: linear-gradient(to right, transparent, black);
    // background: linear-gradient(179.95deg, rgba(0, 0, 0, 0) -17.22%, rgba(0, 0, 0, 0.7) 99.96%);
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__container {
    position: relative;
    padding-top: toRem(520);

    z-index: 100;
  }

  &__title {
    position: relative;
    font-weight: 700;
    font-size: 52px;
    line-height: 107%;
    letter-spacing: -0.03em;
    color: #fff;

    z-index: 100;

    @include adaptiveValue("font-size", 52, 25);
  }

  &__subtitle {
    position: relative;

    line-height: 136%;
    color: #fff;
    font-family: $secondFamily;

    @include adaptiveValue("font-size", 22, 14);
  }
}