.intro {
  position: relative;
  height: 903px;


  &::before {
    content: '';
    position: absolute;
    // background: linear-gradient(to right, transparent, black);
    // background: linear-gradient(179.95deg, rgba(0, 0, 0, 0) -17.22%, rgba(0, 0, 0, 0.7) 99.96%);
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__container {
    padding-top: toRem(520);
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    z-index: 100;
  }

  &__content {}

  &__title {
    position: relative;
    font-weight: 700;
    font-size: 52px;
    line-height: 107%;
    letter-spacing: -0.03em;
    color: #fff;

    z-index: 100;

    @include adaptiveValue("font-size", 52, 25);
    @include adaptiveValue("margin-bottom", 26, 17);
  }

  &__subtitle {
    position: relative;
    max-width: toRem(700);

    line-height: 136%;
    color: #fff;
    font-family: $secondFamily;

    @include adaptiveValue("font-size", 22, 14);
  }

  &__button {
    position: relative;
    width: toRem(170);
    height: toRem(170);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: toRem(5);
    flex-direction: column;
    padding: toRem(6);

    background: $thirdColor;
    border-radius: 50%;


    font-family: $fontFamilyNr;
    font-weight: 700;
    font-size: 15px;
    line-height: 115%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;

    .round-svg {
      position: absolute;
      // inset: 0;
      width: 96%;
      height: 96%;
    }


    // border: 1px dotted rgba(255, 255, 255, 0.7);
  }
}