.intro {
  position: relative;
  // height: 888px;

  margin-bottom: toRem(260);


  @media (min-width:$mobile) {
    @include adaptiveValue("height", 888, 300);
  }

  // @media (max-width:$mobile){
  //    height: auto; 
  // }




  &__background {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      // background: linear-gradient(to right, transparent, black);
      // background: linear-gradient(179.95deg, rgba(0, 0, 0, 0) -17.22%, rgba(0, 0, 0, 0.7) 99.96%);
      background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100%);
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    // max-width: 100%;
    // inset: 0;
    object-fit: cover;
    z-index: -1;

    @media (max-width:$mobile) {
      position: static;
    }
  }

  &__container {

    @include adaptiveValue("padding-top", 520, 60);
  }

  &__wrapper {
    position: relative;
    display: flex;
    gap: toRem(15);
    justify-content: space-between;

    z-index: 100;
  }

  &__content {}

  &__title {
    position: relative;
    font-weight: 700;
    font-size: 52px;
    line-height: 107%;
    letter-spacing: -0.03em;
    color: #fff;

    z-index: 100;

    @include adaptiveValue("font-size", 52, 25);
    @include adaptiveValue("margin-bottom", 26, 17);
  }

  &__subtitle {
    position: relative;
    max-width: toRem(700);

    line-height: 136%;
    letter-spacing: .7px;
    color: #fff;
    font-family: $secondFamily;

    @include adaptiveValue("font-size", 22, 14);
  }

  &__button {
    position: relative;
    width: toRem(170);
    height: toRem(170);
    flex: 0 0 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: toRem(5);
    flex-direction: column;
    padding: toRem(6);

    background: $thirdColor;
    border-radius: 50%;


    font-family: $fontFamilyNr;
    font-weight: 700;
    font-size: 15px;
    line-height: 115%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;

    @media (max-width: toEm(1200)) {
      width: toRem(150);
      height: toRem(150);
      flex: 0 0 150px;
    }

    .round-svg {
      position: absolute;
      // inset: 0;
      width: 96%;
      height: 96%;
    }


    // border: 1px dotted rgba(255, 255, 255, 0.7);
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: toRem(15);
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: inline-block;
    overflow: hidden;

    &:nth-child(odd) {
      transform: rotate(-4.39deg);
    }

    &:nth-child(even) {
      transform: rotate(3.75deg);
    }

    &:nth-child(3) {
      margin-top: -20px;
    }



  }

  &__frame {
    position: relative;
    height: auto;
    z-index: 10;

    max-width: 100%;
  }

  &__photo {
    position: absolute;
    width: 100%;
    // height: 81%;
    top: 10px;
    // inset: 0;

    object-fit: cover;
    z-index: 5;
  }

  &__bottom {
    position: relative;
    // margin-top: toRem(70);

    @include adaptiveValue("margin-top", 70, 0);
  }

  &__line {
    position: absolute;
    width: 100%;
    top: 0;
    top: -17px;
    z-index: 50;
  }

  &__value {
    position: absolute;
  }

}