.intro {
  position: relative;

  margin-bottom: toRem(260);

  @media (min-width:$mobile) {
    @include adaptiveValue("height", 888, 300);
  }

  @media (max-width:$mobile) {
    display: flex;
    flex-direction: column-reverse;
  }

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    pointer-events: none;

    @media (max-width:$mobile) {
      display: none;
    }
  }


  &__background {
    @media (max-width:$mobile) {
      position: relative;

      border-radius: toRem(20);
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100%);
        width: 100%;
        height: 100%;
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
      }
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // aspect-ratio: 320 / 247;
    z-index: -1;

    @media (max-width:$mobile) {
      position: static;
      max-width: 100%;
    }
  }

  &__container {
    @include adaptiveValue("padding-top", 520, 60);

    @media (max-width:$mobile) {
      padding-top: toRem(130);
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    gap: toRem(15);
    justify-content: space-between;

    z-index: 100;

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  &__content {
    @media (max-width:$mobile) {}
  }

  &__title {
    position: relative;
    font-weight: 700;
    font-size: 52px;
    line-height: 107%;
    letter-spacing: -0.03em;
    color: #fff;

    z-index: 100;

    @include adaptiveValue("font-size", 52, 25);
    @include adaptiveValue("margin-bottom", 26, 17);

    @media (max-width:$mobile) {
      color: $titleColor;
      text-align: center;
    }
  }

  &__subtitle {
    position: relative;
    max-width: toRem(700);

    line-height: 136%;
    letter-spacing: .7px;
    color: #fff;
    font-family: $secondFamily;

    @include adaptiveValue("font-size", 22, 14);

    @media (max-width:$mobile) {
      text-align: center;
      color: $mainColor;
    }
  }

  &__button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: toRem(5);
    padding: toRem(6);

    background: $thirdColor;
    border-radius: 50%;

    font-family: $fontFamilyNr;
    font-weight: 700;
    font-size: 15px;
    line-height: 115%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;

    @media (min-width: toEm(1200)) {
      width: toRem(170);
      height: toRem(170);
      flex: 0 0 170px;
    }

    @media (min-width:$mobile) {
      flex-direction: column;
      width: toRem(150);
      height: toRem(150);
      flex: 0 0 150px;
    }

    @media (max-width:$mobile) {
      display: none;
    }

    &--mob {
      display: none;

      @media (max-width:$mobile) {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px 18px;
        width: 100%;
        height: 47px;
        border-radius: 100px;

        .intro__icon {
          width: 34px;
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border-radius: 50%;
        }

      }

    }

    .round-svg {
      position: absolute;
      // inset: 0;
      width: 96%;
      height: 96%;
    }


    // border: 1px dotted rgba(255, 255, 255, 0.7);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
    gap: toRem(15);
    
    @media (max-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: inline-block;
    overflow: hidden;

    &:nth-child(odd) {
      transform: rotate(-4.39deg);
    }

    &:nth-child(even) {
      transform: rotate(3.75deg);
    }

    &:nth-child(3) {
      margin-top: -20px;
    }
  }

  &__frame {
    position: relative;
    height: auto;
    z-index: 10;

    max-width: 100%;
  }

  &__photo {
    position: absolute;
    width: 100%;
    // height: 81%;
    top: 10px;
    // inset: 0;

    object-fit: cover;
    z-index: 5;
  }

  &__bottom {
    position: relative;
    // margin-top: toRem(70);

    @include adaptiveValue("margin-top", 70, 0);
  }

  &__line {
    position: absolute;
    width: 100%;
    top: 0;
    top: -17px;
    z-index: 50;
  }

  &__value {
    position: absolute;
  }

}



.intro-mobile__container {
  display: none;
  
  @media (max-width:$mobile){
     display: block; 
  }
}