.contacts {
  /* .contacts__container */
  &__container {

    .contacts-page & {
      display: flex;
      flex-direction: column;

      gap: 50px;
    }
  }

  /* .contacts__content */
  &__content {
    .contacts-page & {
      max-width: 100%;
    }
  }

  /* .contacts__box-links */
  &__box-links {
    .contacts-page & {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media (max-width: toEm(630)){
         flex-direction: column; 
      }
    }
  }

  /* .contacts__name */
  &__name {
    .contacts-page & {
      @media (max-width: toEm(630)){
         margin-bottom: toRem(10); 
      }
    }
  }

  /* .contacts__soc-links */
  &__soc-links {
    .contacts-page & {
      @media (max-width:$mobile){
        grid-template-columns: auto 1fr;
      }
     }
  }
}