.faq {

  /* .faq__container */
  &__container {}

  /* .faq__title */
  &__title {
    @include adaptiveValue("margin-bottom", 60, 30);
  }

  /* .faq__accordeon */
  &__accordeon {
    margin-bottom: toRem(50);
  }

  /* .faq__button */
  &__button {
    width: 100%;
    margin-bottom: toRem(30);
  }

  /* .faq__text */
  &__text {}

  .spollers {
    display: flex;
    column-gap: toRem(24);
    flex-wrap: wrap;
    width: 100%;

    &__item {
      width: 49%;
    }
  }
}