.faq {

  /* .faq__container */
  &__container {}

  /* .faq__title */
  &__title {
    @include adaptiveValue("margin-bottom", 60, 30);
  }

  /* .faq__accordeon */
  &__accordeon {
    margin-bottom: toRem(50);
  }

  /* .faq__button */
  &__button {
    width: 100%;
    margin-bottom: toRem(30);

    @media (max-width:$mobile) {
      display: none;
    }
  }

  /* .faq__text */
  &__text {
    font-family: var(--second-family);

    font-size: 18px;
    line-height: 136%;
    text-align: center;
    @include adaptiveValue("font-size", 18, 14);

    @media (max-width:$mobile) {
      display: none;
    }
  }

  .spollers {
    display: flex;
    column-gap: toRem(24);
    flex-wrap: wrap;
    width: 100%;

    &__item {
      width: 49%;

      @media (max-width: toEm(1230)) {
        width: 48%;
      }

      @media (max-width:$tablet) {
        width: 100%;
      }
    }
  }
}