.flatpoint {

  /* .flatpoint__container */
  &__container {}

  /* .flatpoint__items */
  &__items {}

  /* .flatpoint__item */
  &__item {}

  /* .flatpoint__item-text */
  &__item-text {}

  /* .flatpoint__item-title */
  &__item-title {}

  /* .flatpoint__item-number */
  &__item-number {}

  /* .flatpoint__item-name */
  &__item-name {}

  /* .flatpoint__text-box */
  &__text-box {}

  /* .flatpoint__img */
  &__img {}

  /* .flatpoint__button */
  &__button {}
}

.title-h2 {}

.button {}