.flatpoint {
  position: relative;
  background: url('@img/backg.png') center 0;
  // background-size: cover;
  padding-top: 536px;
  margin-top: -300px;


  border: 1px solid red;

  @include adaptiveValue("margin-top", -300, -610);
  @include adaptiveValue("padding-top", 536, 444);

  @media (max-width:$mobile){
      @include adaptiveValue("margin-top", -1500, -610);
  }

  &__line {
    position: absolute;
    top: 9.8%;
    // right: 12.6%;
    left: 50%;
    transform: translate(-50%, 0px);
    max-width: 100%;

    @media (max-width:$tablet){
      top: 7.8%;
    }
  }

  /* .flatpoint__container */
  &__container {}

  &__logo {
    max-width: 100%;

    @include adaptiveValue("margin-bottom", 55, 16);
  }

  &__title {
    @include adaptiveValue("margin-bottom", 63, 40);
  }

  /* .flatpoint__items */
  &__items {
    display: grid;

    @include adaptiveValue("gap", 10, 5);
    @include adaptiveValue("margin-bottom", 90, 30);
  }

  /* .flatpoint__item */
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width:$tablet) {
      flex-direction: column;
      padding-bottom: toRem(25);

      border-radius: toRem(20);

      &:nth-child(odd) {
        background-color: $secondColor;
      }

      &:nth-child(even) {
        background-color: $otherColor;
      }
    }

    @media (max-width:$mobileSmall) {
      padding-left: toRem(16);
      padding-right: toRem(16);
    }


    &:nth-child(odd) {
      .flatpoint__item-text {
        background-color: $secondColor;
      }

      .flatpoint__item-number {
        background-color: #fff;
        color: $secondColor;
      }

      .flatpoint__item-name {
        color: #fff;
      }

      .flatpoint__text-box {
        p {
          color: $textWhiteColor;
        }

        span {
          color: #fff;
        }
      }
    }

    &:nth-child(even) {
      .flatpoint__item-text {
        background-color: $otherColor;
      }

      .flatpoint__item-number {
        color: #fff;
        background-color: $secondColor;
      }

      .flatpoint__item-name {
        color: $titleColor;
      }
    }

    .flatpoint__text-box {

      @media (min-width:$tablet) {
        max-width: toRem(740);
      }

      p {
        color: $mainColor;
      }

      span {
        color: $titleColor;
      }
    }


  }

  /* .flatpoint__item-text */
  &__item-text {
    width: 100%;
    background-color: $secondColor;
    border-radius: toRem(20);

    @include adaptiveValue("padding-top", 53, 25);
    @include adaptiveValue("padding-right", 20, 16);
    @include adaptiveValue("padding-bottom", 59, 25);
    @include adaptiveValue("padding-left", 58, 16);

    @media (max-width:$mobileSmall) {
      padding-left: toRem(0) !important;
      padding-right: toRem(0) !important;
    }
  }

  /* .flatpoint__item-title */
  &__item-title {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 16, 8);

    @include adaptiveValue("margin-bottom", 23, 18);
  }

  /* .flatpoint__item-number */
  &__item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    font-size: 16px;
    line-height: 118%;
    color: $secondColor;
    background-color: $secondColor;

    border-radius: 50%;
    @include adaptiveValue("font-size", 16, 12);
    @include adaptiveValue("width", 47, 30);
    @include adaptiveValue("height", 47, 30);
  }

  /* .flatpoint__item-name */
  &__item-name {
    display: flex;
    align-items: center;
    gap: toRem(6);

    font-family: var(--font-family);
    font-weight: 700;
    line-height: 118%;
    letter-spacing: -0.03em;
    color: #fff;

    @include adaptiveValue("font-size", 30, 16);

    span {
      svg {
        @include adaptiveValue("width", 29, 20);
      }
    }

  }

  /* .flatpoint__text-box */
  &__text-box {
    p {

      font-family: var(--second-family);

      line-height: 136%;
      letter-spacing: .6px;
      @include adaptiveValue("font-size", 18, 14);
      @include adaptiveValue("margin-bottom", 13, 8);
    }

    span {
      font-family: var(--second-family);
      font-weight: 600;
      line-height: 136%;
      color: #fff;

      @include adaptiveValue("font-size", 18, 14);

    }
  }

  /* .flatpoint__img */
  &__img {
    border-radius: toRem(20);
    width: 100%;
    max-width: 432px;

    @media (max-width:$tablet) {
      margin: 0 auto;
    }
  }

  /* .flatpoint__button */
  &__button {
    max-width: toRem(283);
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 18px;
    gap: toRem(10);
    height: 66px;
    border-radius: 100px;


    font-family: var(--font-family-nr);
    font-weight: 400;
    line-height: 131%;
    letter-spacing: -0.01em;
    color: #fff;
    justify-self: center;
    background: var(--third-color);

    @include adaptiveValue("font-size", 18, 12);
    @include adaptiveValue("height", 66, 47);

    @media (max-width:$mobile) {
      display: none;
    }
  }
}

.title-h2 {}

.button {}