.footer {

  padding-bottom: toRem(40);
  // .footer__container
  background: $secondColor url('@img/footer-bg.png') 0 0;
  @include adaptiveValue("padding-top", 65, 40);

  &__container {}

  // .footer__top

  &__top {
    display: grid;
    grid-template-columns: 1fr 32%;

    border-bottom: 1px solid rgba(246, 244, 239, 0.43);

    @include adaptiveValue("padding-bottom", 78, 32);
  }

  // .footer__callback

  &__callback {}

  // .footer__subname

  &__subname {
    font-family: var(--second-family);
    color: rgba(255, 255, 255, 0.8);
    @include adaptiveValue("font-size", 16, 12);

    @include adaptiveValue("margin-bottom", 25, 13);
  }

  // .footer__tel

  &__tel {
    margin-bottom: toRem(10);

    color: #fff;
    @include adaptiveValue("font-size", 40, 29);
  }

  // .footer__work-time

  &__work-time {

    font-family: var(--second-family);
    color: rgba(255, 255, 255, 0.8);
    @include adaptiveValue("font-size", 16, 12);
  }

  // .footer__menu

  &__menu {
    display: grid;
    gap: toRem(3);
  }

  // .footer__link

  &__link {
    font-family: var(--second-family);
    color: #fff;
    font-size: toRem(16);
    transition: opacity 0.3s;

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    @media (max-width:$mobile) {
      font-size: toRem(14);
    }
  }

  // .footer__bottom

  &__bottom {
    padding-top: toRem(38);

    display: grid;
    grid-template-columns: 1fr 32%;
  }

  // .footer__logotool

  &__logotool {}

  // .footer__logo

  &__logo {
    transition: opacity 0.3s;

    @include adaptiveValue("margin-bottom", 18, 10);

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }
  }

  // .footer__info

  &__info {

    p,
    a {
      display: block;
      font-family: var(--second-family);
      line-height: 136%;
      color: rgba(255, 255, 255, 0.8);

      @include adaptiveValue("font-size", 14, 10);
    }
  }
}