.footer {

  padding-bottom: toRem(40);
  background: $secondColor url('@img/footer-bg.png') 0 0;
  @include adaptiveValue("padding-top", 70, 40);

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 32%;

    @media (min-width:$tablet) {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;

        bottom: 160px;

        background: rgba(246, 244, 239, 0.43);
      }
    }

    @media (max-width:$tablet) {
      grid-template-columns: auto;
    }


  }


  // .footer__callback

  &__callback {
    @include adaptiveValue("padding-bottom", 119, 30);
  }

  &__left {
    display: grid;
  }

  &__right {
    @media (max-width:$tablet) {
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: toEm(390)){
       flex-direction: column;
       gap: toRem(35);
    }
  }

  // .footer__subname

  &__subname {
    font-family: var(--second-family);
    color: rgba(255, 255, 255, 0.8);
    @include adaptiveValue("font-size", 16, 12);

    @include adaptiveValue("margin-bottom", 32, 13);
  }

  // .footer__tel

  &__tel {
    margin-bottom: toRem(12);

    letter-spacing: -0.5px;
    font-family: $fontFamilyNr;
    color: #fff;
    @include adaptiveValue("font-size", 40, 29);
  }

  // .footer__work-time

  &__work-time {

    letter-spacing: 0.6px;
    font-family: var(--second-family);
    color: rgba(255, 255, 255, 0.8);
    @include adaptiveValue("font-size", 16, 12);
  }

  // .footer__menu

  &__menu {
    display: grid;
    gap: toRem(9);

    @media (min-width:$tablet) {
      padding-bottom: toRem(119);
    }
  }

  // .footer__link

  &__link {
    font-family: var(--second-family);
    color: #fff;
    font-size: toRem(16);
    transition: opacity 0.3s;

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    @media (max-width:$mobile) {
      font-size: toRem(14);
    }
  }


  // .footer__logotool

  &__logotool {

    @media (max-width:$tablet) {
      grid-row: 1;
    }

    p {
      font-family: var(--second-family);
      line-height: 136%;
      color: rgba(255, 255, 255, 0.8);

      @include adaptiveValue("font-size", 16, 8);
    }

    @media (max-width: toEm(900)) {
      margin-bottom: toRem(42);
    }
  }

  // .footer__logo

  &__logo {

    transition: opacity 0.3s;

    @include adaptiveValue("margin-bottom", 18, 10);
    // @include adaptiveValue("widtg", 542, 284);

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    img {
      max-width: 100%;
    }
  }

  // .footer__info

  &__info {

    p,
    a {
      display: block;
      font-family: var(--second-family);
      line-height: 136%;
      color: rgba(255, 255, 255, 0.8);
      letter-spacing: 0.4px;
      @include adaptiveValue("font-size", 14, 10);
    }
  }
}