//====================================================================================================
.header {
	&__wrapper {
		position: fixed;

		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		top: 0;
		left: 0;
		transition: all 0.4s;
		z-index: 800;
		padding-top: toRem(8);

		@media (max-width: toEm(1430)) {
			// padding-left: 15px;
			// padding-right: 15px;
		}

		@media (max-width:$tablet) {
			// padding-right: 7px;
			// padding-left: 7px;
		}
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		height: toRem(70);
		padding-left: toRem(24);
		padding-right: toRem(12);

		// background-color: red;
		backdrop-filter: blur(52px);
		background: rgba(246, 244, 239, 0.19);

		transition: all 0.3s;

		.other-page & {
			backdrop-filter: blur(52px) !important;
			background-color: #fff !important;
		}

		._fixed &,
		.other-page & {
			height: toRem(60);

			backdrop-filter: none;
			background: #F6F4EF;

			@media (max-width:$tablet) {
				background-color: #fff;
			}
		}

		@media (max-width:$tablet) {
			padding-left: toRem(10);
			padding-right: toRem(10);

			backdrop-filter: none;
			background: #fff;
		}

		@media (max-width:$mobile) {
			height: toRem(40) !important;
		}
	}


	&__logo {
		.logo-desktop {
			@media (max-width:$tablet) {
				display: none;
			}

			._fixed &,
			.other-page & {
				display: none;
			}
		}

		.logo-mobile {
			display: none;
			@include adaptiveValue("width", 212, 137);

			@media (max-width:$tablet) {
				display: block;
			}

			._fixed &,
			.other-page & {
				display: block;
			}
		}

		img {
			@include adaptiveValue("width", 212, 100);
		}

	}

	&__soc-links {
		display: none;
		margin-bottom: toRem(20);

		@media (max-width:$tablet) {
			max-width: 300px;
			display: grid;
			grid-template-columns: 1fr 1fr;

			gap: toRem(12);

			.contacts__link {
				font-family: var(--second-family);
				font-size: 16px;
				text-decoration: underline;
				text-decoration-skip-ink: none;
				color: $titleColor;
			}
		}

	}



	&__link {

		span {
			margin-left: toRem(6);
			display: block;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		height: toRem(50);

		border-radius: 4px;
		padding: 15px 20px;
		background-color: #fff;

		font-size: toRem(16);
		letter-spacing: .4px;
		line-height: 131%;
		font-family: $secondFamily;
		font-weight: 600;
		color: $thirdColor;
		border: 1px solid transparent;
		transition: all 0.3s;

		@media (any-hover: hover) {
			&:hover {
				background-color: transparent;
				border-color: $secondColor;
			}
		}

		._fixed &,
		.other-page & {
			background-color: $secondColor;
			color: #fff;

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;
					color: $secondColor;
					border-color: $secondColor;
				}
			}
		}

		@media (max-width:$tablet) {
			background-color: $secondColor;
			color: #fff;

			// max-width: 286px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			height: 40px;
		}
	}
}

.menu {
	@media (max-width:$tablet) {
		display: contents;
	}

	&__list {
		transition: all 0.3s;

		a {
			transition: all 0.3s;

			&:first-child {
				@media (any-hover: hover) {
					&:hover {
						background-color: $secondColor;
						color: #fff;
						border-color: $secondColor;
					}
				}
			}
		}

		@media (max-width:$tablet) {
			display: flex;
			flex-direction: column;
			margin-bottom: toRem(10);
		}
	}

	&__body {
		display: flex;
		width: 100%;
		gap: toRem(10);


		transition: all 1s;

		@media (max-width:$tablet) {
			// background-color: red !important;
			flex-direction: column;
			position: fixed;
			overflow: auto;
			height: auto;
			top: 0;
			left: 0;
			// transform: scale(.7);
			background-color: #fff;
			visibility: hidden;
			opacity: 0;
			padding: 14px 15px 25px 15px;
			gap: 8px !important;

			z-index: 10;

			.menu-open & {
				// transform: scale(1);
				transition: all .7s;
				opacity: 1;
				visibility: visible;
				z-index: 700;
				transform: translate(0, 62px);
				border-radius: 0 0 6px 6px;



				// margin-left: -15px;
				// margin-right: -15px;
			}

			.other-page & {
				.menu-open & {
					transform: translate(0, 54px);

					@media (max-width:$mobile) {
						transform: translate(0, 34px);
					}
				}
			}
		}

		@media (max-width:$mobile) {
			.menu-open & {
				transform: translate(0, 41px);
			}
		}
	}

	&__item {
		padding: 8px 16px;

		font-size: toRem(16);
		font-family: $secondFamily;
		color: #fff;

		@media (max-width:$tablet) {
			padding: 6px 0px;
		}

		.menu-open & {
			color: $mainColor;
		}

		&:first-child {
			border-radius: 29px;
			border: 1px solid #fff;

			@media (max-width:$tablet) {
				display: none;
			}
		}

		._fixed &,
		.other-page & {
			color: $mainColor;

			&:first-child {

				border: 1px solid $mainColor;
			}
		}
	}

}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(24);
		height: toRem(20);
		z-index: 990;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(3);

			background-color: $titleColor;
		}

		&::before {
			top: toRem(1);
			// right: toRem(7);
		}

		&::after {
			bottom: toRem(0);
			// right: toRem(16);
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
				display: none;
			}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(2));
				transform: rotate(45deg);
			}
		}
	}
}