.pricing {
  @include adaptiveValue("padding-top", 150, 80);

  /* .pricing__container */
  &__container {}

  /* .pricing__title */
  &__title {

    @include adaptiveValue("margin-bottom", 65, 37);
  }

  /* .pricing__content */
  &__content {
    display: grid;
    grid-template-columns: 1fr 59.435%;

    @include adaptiveValue("gap", 114, 40);

    @media (max-width:$mobile){
       grid-template-columns: auto;
    }
  }

  /* .pricing__media */
  &__media {
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      border-radius: 20px;

      @include adaptiveValue("margin-bottom", 36, 20);
    }

    @media (max-width:$mobile){
       grid-row: 2;
      // justify-items: center;
    }
  }

  /* .pricing__text */
  &__text {
    font-family: var(--second-family);
    line-height: 136%;

    @include adaptiveValue("font-size", 16, 12);
  }

  /* .pricing__accordeon */
  &__accordeon {}
}

.title-h2 {}

.spollers {

  /* .spollers__item */
  &__item {}

  /* .spollers__title */
  &__title {}

  /* .spollers__body */
  &__body {}
}