.reviews {

  /* .reviews__container */
  &__container {}

  /* .reviews__title */
  &__title {
    @include adaptiveValue("margin-bottom", 60, 30);
  }

  /* .reviews__content */
  &__content {
    display: grid;
    grid-template-columns: 1fr 59.435%;


    @media (max-width: toEm(1280)) {
      grid-template-columns: 1fr;
      // grid-template-rows: 1fr 1fr;
      justify-content: center;

      margin: 0 auto;
      max-width: 800px;
    }

    @media (max-width:$mobileSmall) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  /* .reviews__media */
  &__media {
    position: relative;
    overflow: hidden;
    // @include adaptiveValue("border-radius", 20, 15);

    @media (max-width: toEm(1280)) {
      grid-row: 2;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;

      aspect-ratio: 287 / 255;

    }

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;

      @include adaptiveValue("border-radius", 20, 15);

    }

    span {
      position: absolute;
      bottom: 20px;
      left: 20px;

      @include adaptiveValue("width", 222, 167);
      @include adaptiveValue("height", 124, 93);
    }
  }

  &__middle-box {
    position: relative;
  }

  /* .reviews__slider-box */
  &__slider-box {
    position: relative;
    overflow: hidden;
    padding: toRem(50) toRem(60);
    background: $otherColor url('@img/values/b1.png') 0 0 no-repeat;

    @include adaptiveValue("border-radius", 30, 20);

    @media (max-width:$mobileSmall) {
      padding: toRem(40) toRem(16) toRem(40);
    }
  }

  /* .reviews__slider */
  &__slider {
    position: relative;
    margin-bottom: toRem(30);
  }

  /* .reviews__wrapper */
  &__wrapper {}

  /* .reviews__slide */
  &__slide {
    height: 100%;
  }

  /* .reviews__item */
  &__item {
    height: 100%;

    overflow: hidden;

    background-color: #fff;
    @include adaptiveValue("border-radius", 10, 15);
  }

  /* .reviews__top */
  &__top {
    padding: toRem(22) toRem(20) toRem(20);
    display: flex;
    align-items: center;
    gap: toRem(10);

    background-color: #F6F4EF;

    @include adaptiveValue("height", 88, 68);
  }

  /* .reviews__photo */
  &__photo {
    max-width: 100%;
    border-radius: 50%;

    @include adaptiveValue("width", 46, 33);
    @include adaptiveValue("height", 46, 33);
  }

  /* .reviews__data */
  &__data {}

  /* .reviews__name */
  &__name {

    font-family: var(--second-family);
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: #000;

    @include adaptiveValue("font-size", 18, 14);
  }

  /* .reviews__geo */
  &__geo {
    font-family: var(--second-family);
    line-height: 138%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.35);

    @include adaptiveValue("font-size", 14, 10);
  }

  /* .reviews__text */
  &__text {
    padding: toRem(18);

    font-family: var(--second-family);
    line-height: 138%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.8);

    @include adaptiveValue("font-size", 16, 12);

    &-reviews {
      font-weight: 400;
      line-height: 131%;
      letter-spacing: -0.01em;
      text-align: center;
      color: $titleColor;

      @include adaptiveValue("font-size", 18, 8);
    }
  }

  /* .reviews__button */
  &__button {
    width: 100%;

    @media (max-width: toEm(1280)) {
      margin-top: toRem(30);
    }

    @media (max-width:$mobile) {
      margin-top: 20px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F6F4EF;

    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;

    @media (max-width: toEm(1280)) {
      top: 24%;
    }

    @media (max-width:$mobileSmall) {
      display: none;
    }
  }

  .swiper-button-prev {
    left: -45px;
  }

  .swiper-button-next {
    right: -45px;
  }

  &__footer {
    display: grid;
    gap: toRem(10);
  }


  &__container--full {
    @include adaptiveValue("margin-top", 140, 30);
  }
}




.reviews {
  .reviews__slider2 {
    // margin-left: 100px;
  }

  .reviews__slide1,
  .reviews__slide2,
  .reviews__slide3 {
    display: flex;
    min-height: 84px;
    align-items: center;
    gap: 8px;
    background: #fff;
    padding: 8px;
    border-radius: 101px;

    p {

      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width:$mobile) {
        white-space: nowrap;
      }
    }
  }

  /* Адаптивность */
  // @media (max-width: 768px) {
  //   .multi-direction-container {
  //     flex-direction: column;
  //     height: auto;
  //   }

  //   .row {
  //     flex-direction: column;
  //     min-height: auto;
  //   }

  //   .block {
  //     flex: 1;
  //     margin-bottom: 10px;
  //   }
  // }
}



/* Скрываем Swiper-ы на мобильных */
@media (max-width: 767px) {

  .reviews__slider1,
  .reviews__slider2,
  .reviews__slider3 {
    display: none;
  }

  /* Показываем мобильный список */
  .mobile-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .mobile-list .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background: #fff;
    border-radius: 15px;
    min-height: 124px;
    width: 150px;
    flex-shrink: 0;
  }

  // .mobile-list .reviews__photo {
  //   width: 60px;
  //   height: 60px;
  //   border-radius: 50%;
  // }

  .mobile-list .reviews__text-reviews {
    text-align: center;
    margin: 0;
  }
}







.map-container {
  width: 100%;
  height: 353px;
  margin: 20px 0;
  border-radius: 20px;
  overflow: hidden;

  @media (max-width:$mobileSmall){
     height: 280px; 
  }
}

.map-widget-content-view__balloon {
  display: none !important;
}

.map-widget-layout-view__maps-links {
  display: none !important;
}

.map-container iframe {
  width: 100%;
  // height: 100%;
  border: none;
}

// /* Адаптивность */
// @media (max-width: 768px) {
//   .map-container {
//     height: 300px;
//   }
// }

// @media (max-width: 480px) {
//   .map-container {
//     height: 250px;
//   }
// }