.reviews {

  /* .reviews__container */
  &__container {}

  /* .reviews__title */
  &__title {
    @include adaptiveValue("margin-bottom", 60, 30);
  }

  /* .reviews__content */
  &__content {
    display: grid;
    grid-template-columns: 1fr 59.435%;
    // align-items: center;
  }

  /* .reviews__media */
  &__media {
    position: relative;
    overflow: hidden;
    // @include adaptiveValue("border-radius", 20, 15);

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      @include adaptiveValue("border-radius", 20, 15);

    }

    span {
      position: absolute;
      bottom: 20px;
      left: 20px;

      @include adaptiveValue("width", 222, 167);
      @include adaptiveValue("height", 124, 93);
    }
  }

  &__middle-box {
    position: relative;
  }
  /* .reviews__slider-box */
  &__slider-box {
    position: relative;
    padding: toRem(50) toRem(60);
    background: $otherColor url('@img/values/b1.png') 0 0 no-repeat;

    @include adaptiveValue("border-radius", 30, 20);
  }

  /* .reviews__slider */
  &__slider {
    position: relative;
    margin-bottom: toRem(30);
  }

  /* .reviews__wrapper */
  &__wrapper {}

  /* .reviews__slide */
  &__slide {
    height: 100%;
  }

  /* .reviews__item */
  &__item {
    height: 100%;

    overflow: hidden;

    background-color: #fff;
    @include adaptiveValue("border-radius", 10, 15);
  }

  /* .reviews__top */
  &__top {
    padding: toRem(22) toRem(20) toRem(20);
    display: flex;
    align-items: center;
    gap: toRem(10);

    background-color: #F6F4EF;

    @include adaptiveValue("height", 88, 68);
  }

  /* .reviews__photo */
  &__photo {
    max-width: 100%;
    border-radius: 50%;

    @include adaptiveValue("width", 46, 33);
    @include adaptiveValue("height", 46, 33);
  }

  /* .reviews__data */
  &__data {}

  /* .reviews__name */
  &__name {

    font-family: var(--second-family);
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: #000;

    @include adaptiveValue("font-size", 18, 14);
  }

  /* .reviews__geo */
  &__geo {
    font-family: var(--second-family);
    line-height: 138%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.35);

    @include adaptiveValue("font-size", 14, 10);
  }

  /* .reviews__text */
  &__text {
    padding: toRem(18);

    font-family: var(--second-family);
    line-height: 138%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.8);

    @include adaptiveValue("font-size", 16, 12);
  }

  /* .reviews__button */
  &__button {
    width: 100%;
  }


  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F6F4EF;

    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
  }

  .swiper-button-prev {
    left: -45px;
  }

  .swiper-button-next {
    right: -45px;
  }
}

.pt180 {}

.title-h2 {}

.swiper {}





.button {}