:root {

	//* Цвета

	--main-color: rgba(31, 30, 27, 0.8);
	--title-color: #1f1e1b;
	--text-white-color: rgba(255, 255, 255, 0.8);
	--second-color: #3e5128;
	--third-color: #981214;
	--other-color: #e7d2b3;
	

	//* Виды шрифта

	--font-family: "MartianGroteskStd", sans-serif;
	--font-family-nr: "MartianGroteskNr", sans-serif;
	--second-family: "Manrope", sans-serif;
	--third-family: "Marker Felt", sans-serif;
}