@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
@import "fonts/fonts";


// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: var(--font-family);
$fontFamilyNr: var(--font-family-nr);
$secondFamily: var(--second-family);
$thirdFamily: var(--third-family);

$fontSize: toRem(18);

// Основные цвета
$mainColor: var(--main-color);
$secondColor: var(--second-color);
$thirdColor: var(--third-color);
$otherColor: var(--other-color);
$textWhiteColor: var(--text-white-color);
$titleColor: var(--title-color);



// Настройка адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1346;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: toEm($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: toEm(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: toEm(767.98); // Телефоны L
$mobileSmall: toEm(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// // Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Подключение компонентов tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Фикс дерганья анимаций ========================================================================================================================================================

.load * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}


// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	color: $mainColor;
	font-weight: 500;
	background: #F6F4EF;
	// background: red;

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт загружен
	// .loaded & {
	// 	opacity: 1;
	// 	transition: opacity 0.6s ease 0s;
	// }
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;


	@supports (overflow: clip) {
		overflow: clip;
	}

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

.page {

	// &:not(.main-page &) {
	// 	@include adaptiveValue("padding-top", 140, 100);
	// }

}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

// (i) Стили будут применяться к
// всех классов, содержащих *__container
// Например header__container, main__container і т.п.
// Сниппет (HTML): cnt

@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}

	[class*="__container--wide"] {
		max-width: toRem(1400);
		margin: 0 auto;
		border-radius: toRem(10);
	}

	[class*="__container--full"] {
		max-width: toRem(1440);
		margin: 0 auto;
	}

	// [class*="__container--intro"] {
	// 	max-width: toRem(1400);
	// 	margin: 0 auto;
	// }
}

// CSS-переменные ============================================================================================================================================================================================================================================================================================================================================================================================================================================
@import 'root';

@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
// @import "arhive";
@import "intro";
@import "flatpoint";
@import "activities";
@import "specials";
@import "pricing";
@import "process";
@import "values";
@import "faq";
@import "reviews";
@import "contacts";